@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #444;
  background-color: #ddd;
  line-height: 1.75;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 2px;
  background-image: url(https://images.unsplash.com/photo-1588345921489-f61ad896c562?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  background-color: #eee;
  margin: 0;
}

#wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block {
  width: 50%;
  height: 1000px;
}

.block1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
@media screen and (min-width: 1010px){
  .block1 img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-position: 50% 10%;
}
}


@media screen and (max-width: 720px) {
  .block2 .streaming-links {
    transform: scale(0.7);
  }
  .block2 .fa-3x:hover {
    color: #F8C202;
    transition: 0.2s all ease-out;
  }
}
.block2 .fa-3x {
  margin: 0px 30px 0px 30px;
}

.block2 .fa-3x:hover {
  color: #F8C202;
  transition: 0.2s all ease-out;
}

.block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding-bottom: 50px;
}

.block2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 50%;
  text-align: center;
}

.block2 h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
}

.block2 ul {
  list-style-type: none;
  padding: 0;
}

.block2 li {
  width: 13rem;
  border: 1px #ccc solid;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 40px 0;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  cursor: pointer;
  position: relative;
}

.block2 .line::after {
  background-color: #cccccc;
  content: '';
  display: block;
  height: 2.1em;
  left: 50%;
  position: absolute;
  top: 100%;
  width: 1px;
}

.block2 li:hover {
  border: 1px #F8C202 solid;
  background-color: #F8C202;
  color: #ffffff;
}

.block2 a {
  text-decoration: none;
  color: #555;
}

.block2 .icon {
  font-size: 1.5rem;
  margin: 10px;
  cursor: pointer;
}

.block2 .icon:hover {
  color: #F8C202;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

@media screen and (max-width: 1010px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .block {
    max-width: 100%;
    width: 100%;
    height: 10%;
  }
}
@media screen and (max-width: 1010px) {
  .footer {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
  }
}
@media screen and (min-width: 1010px) {
.footer {
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
}
/*# sourceMappingURL=style.css.map */